Repository hydrologie/xhydro, pull requests merged in 2024-02, with the labels that each got.

#86 Pin intake-esm for Python3.9
  .github/workflows/main.yml
  environment.yml
Labels: CI

#87 Afl plots
  CHANGES.rst
  docs/notebooks/local_frequency_analysis.ipynb
  tests/test_local.py
  xhydro/frequency_analysis/local.py
Labels: enhancement

#99 Support xclim v0.48.0
  .github/workflows/main.yml
  CHANGES.rst
  environment-dev.yml
  environment.yml
  pyproject.toml
  tests/test_calibration.py
  tests/test_indicators.py
  tests/test_local.py
  tests/test_testing_utils.py
  xhydro/indicators.py
  xhydro/modelling/hydrological_modelling.py
  xhydro/modelling/obj_funcs.py
Labels: CI

#101 Ruff adjustments
  .pre-commit-config.yaml
  environment-dev.yml
  pyproject.toml
Labels: dependencies, CI

#54 Perturbed indicators
  .github/workflows/main.yml
  CHANGES.rst
  docs/index.rst
  docs/notebooks/climate_change.ipynb
  docs/notebooks/local_frequency_analysis.ipynb
  environment-dev.yml
  environment.yml
  pyproject.toml
  tests/test_cc.py
  tests/test_indicators.py
  xhydro/cc.py
  xhydro/indicators.py
  xhydro/testing/utils.py
Labels: CI

#106 Update cookiecutter template
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  .pre-commit-config.yaml
  .zenodo.json
  CHANGES.rst
  CONTRIBUTING.rst
  docs/conf.py
  environment-dev.yml
  pyproject.toml
  tests/test_calibration.py
  tests/test_local.py
  tox.ini
Labels: CI
