Repository hydrologie/xhydro, pull requests merged in 2024-09, with the labels that each got.

#195 Drop Python 3.9
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  CI/translator.py
  CONTRIBUTING.rst
  environment-dev.yml
  environment.yml
  pyproject.toml
  src/xhydro/cc.py
  src/xhydro/frequency_analysis/local.py
  src/xhydro/indicators.py
  src/xhydro/modelling/_hydrotel.py
  src/xhydro/modelling/_ravenpy_models.py
  src/xhydro/modelling/calibration.py
  src/xhydro/modelling/obj_funcs.py
  src/xhydro/optimal_interpolation/ECF_climate_correction.py
  src/xhydro/optimal_interpolation/optimal_interpolation_fun.py
  src/xhydro/testing/helpers.py
  src/xhydro/testing/utils.py
  tox.ini
Labels: approved, CI, docs

#197 xarray 2024.09 support
  environment-dev.yml
  environment.yml
Labels: approved, dependencies

#196 Generate documentation with Windows
  CHANGELOG.rst
  CI/translator.py
  docs/conf.py
  environment-dev.yml
  environment.yml
  make-docs.bat
  make-translations.bat
  pyproject.toml
Labels: approved, CI, docs

#198 Translating rfa Notebook
  docs/locales/fr/LC_MESSAGES/notebooks/regional_frequency_analysis.po
  docs/notebooks/regional_frequency_analysis.ipynb
Labels: documentation, approved, notebooks, CI, docs
