Repository hydrologie/xhydro, pull requests merged in 2024-11, with the labels that each got.

#220 More flexible sampled_indicators
  CHANGELOG.rst
  docs/notebooks/climate_change.ipynb
  src/xhydro/cc.py
  tests/test_cc.py
Labels: approved, notebooks, docs

#214 A few small fixes to Hydrotel
  CHANGELOG.rst
  src/xhydro/modelling/_hydrotel.py
  src/xhydro/modelling/hydrological_modelling.py
  tests/test_hydrological_modelling.py
  tests/test_hydrotel.py
Labels: approved

#226 Indicators as a module
  CHANGELOG.rst
  docs/notebooks/pmp.ipynb
  src/xhydro/indicators/__init__.py
  src/xhydro/indicators/generic.py
  src/xhydro/indicators/pmp.py
  tests/test_PMP.py
Labels: approved, notebooks, docs

#228 Support latest xclim and xscen, drop outdated pins
  CHANGELOG.rst
  environment-dev.yml
  environment.yml
  pyproject.toml
  src/xhydro/indicators/generic.py
  src/xhydro/testing/utils.py
  tests/conftest.py
  tests/test_testing_utils.py
Labels: approved

#229 Prepare 0.4.1
  .cruft.json
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
  CHANGELOG.rst
  pyproject.toml
  src/xhydro/__init__.py
  tests/test_xhydro.py
Labels: approved, CI

#227 Gis fixes
  CHANGELOG.rst
  docs/notebooks/gis.ipynb
  src/xhydro/gis.py
  tests/test_gis.py
Labels: approved, notebooks, docs

#231 Adds a download agent to pooch/Deveraux calls
  CHANGELOG.rst
  docs/notebooks/climate_change.ipynb
  docs/notebooks/hydrological_modelling.ipynb
  docs/notebooks/optimal_interpolation.ipynb
  docs/notebooks/pmp.ipynb
Labels: approved, notebooks, docs

#234 Update devereaux to add User-Agent to requests
  CHANGELOG.rst
  docs/notebooks/climate_change.ipynb
  docs/notebooks/hydrological_modelling.ipynb
  docs/notebooks/local_frequency_analysis.ipynb
  docs/notebooks/optimal_interpolation.ipynb
  docs/notebooks/pmp.ipynb
  src/xhydro/testing/helpers.py
  tests/conftest.py
Labels: approved, notebooks, docs
