Repository hydrologie/xhydro, pull requests merged in 2024-10, with the labels that each got.

#207 Pin micromamba version
  .github/workflows/main.yml
Labels: approved, CI

#204 changed default scipy_dist to those giving similar results then Hyfran
  src/xhydro/frequency_analysis/local.py
  tests/test_local.py
Labels: approved

#185 Reformat meteo for Hydrotel
  CHANGELOG.rst
  docs/notebooks/hydrological_modelling.ipynb
  src/xhydro/modelling/hydrological_modelling.py
  tests/test_hydrological_modelling.py
Labels: approved, notebooks, docs

#208 Prepare v0.4.0
  .cruft.json
  CHANGELOG.rst
  pyproject.toml
  src/xhydro/__init__.py
  tests/test_xhydro.py
Labels: documentation, approved

#209 pin rasterio <=1.3.11
  environment-dev.yml
  environment.yml
  pyproject.toml
Labels: approved

#213 Fix gis module
  docs/notebooks/gis.ipynb
  docs/notebooks/hydrological_modelling.ipynb
  src/xhydro/gis.py
Labels: bug, approved, notebooks, docs

#211 Less computation on notebooks
  CHANGELOG.rst
  docs/notebooks/climate_change.ipynb
  docs/notebooks/hydrological_modelling.ipynb
  docs/notebooks/local_frequency_analysis.ipynb
  docs/notebooks/optimal_interpolation.ipynb
  docs/notebooks/regional_frequency_analysis.ipynb
Labels: approved, notebooks, docs

#212 Pooch integration, mark online tests, better handle online-dependent documentation, distributed testing
  CHANGELOG.rst
  docs/notebooks/climate_change.ipynb
  docs/notebooks/gis.ipynb
  docs/notebooks/hydrological_modelling.ipynb
  environment-dev.yml
  pyproject.toml
  src/xhydro/frequency_analysis/regional.py
  src/xhydro/frequency_analysis/uncertainities.py
  src/xhydro/gis.py
  src/xhydro/modelling/_ravenpy_models.py
  src/xhydro/modelling/calibration.py
  src/xhydro/modelling/obj_funcs.py
  src/xhydro/optimal_interpolation/ECF_climate_correction.py
  src/xhydro/optimal_interpolation/optimal_interpolation_fun.py
  src/xhydro/testing/helpers.py
  src/xhydro/testing/registry.txt
  src/xhydro/utils.py
  tests/conftest.py
  tests/test_calibration.py
  tests/test_cc.py
  tests/test_gis.py
  tests/test_hydrological_modelling.py
  tests/test_optimal_interpolation.py
  tests/test_ravenpy_models.py
  tests/test_regional.py
  tests/test_testing_utils.py
Labels: approved, notebooks, docs

#215 Improved the _ravenpy_models.py script to be able to specify the rain snow fraction for all models
  .zenodo.json
  AUTHORS.rst
  src/xhydro/modelling/_ravenpy_models.py
Labels: approved, docs

#176 Pmp
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  docs/notebooks/index.rst
  docs/notebooks/pmp.ipynb
  src/xhydro/pmp.py
  src/xhydro/testing/helpers.py
  src/xhydro/testing/registry.txt
  tests/conftest.py
  tests/test_PMP.py
Labels: enhancement, approved, notebooks, CI, docs

#219 Add a `periods` argument to `local.fit`
  CHANGELOG.rst
  src/xhydro/frequency_analysis/local.py
  tests/test_local.py
Labels: approved

#217 Added xHydro logos
  CHANGELOG.rst
  README.rst
  docs/_static/style.css
  docs/conf.py
  docs/logos/empty.png
  docs/logos/xhydro-logo-light.png
  docs/logos/xhydro-logo-small-light.png
  docs/logos/xhydro-logo-small-transparent.png
  docs/logos/xhydro-logo-transparent.png
Labels: approved, docs
