Repository hydrologie/xhydro, pull requests merged in 2024-05, with the labels that each got.

#145 Fix tests
  CHANGES.rst
  tests/test_gis.py
  tests/test_local.py
Labels: approved

#128 Ravenpy models
  .github/workflows/dependency-review.yml
  CHANGES.rst
  environment-dev.yml
  environment.yml
  pyproject.toml
  tests/test_calibration.py
  tests/test_hydrological_modelling.py
  tests/test_ravenpy_models.py
  xhydro/__init__.py
  xhydro/modelling/__init__.py
  xhydro/modelling/_ravenpy_models.py
  xhydro/modelling/hydrological_modelling.py
Labels: approved, notebooks, CI

#147 Fast-forward cookiecutter
  .cruft.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .gitignore
  .readthedocs.yml
  CHANGELOG.rst
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  Makefile
  docs/changelog.rst
  docs/changes.rst
  docs/index.rst
  docs/installation.rst
  docs/locales/fr/LC_MESSAGES/changes.po
  docs/locales/fr/LC_MESSAGES/contributing.po
  docs/releasing.rst
  environment-dev.yml
  pyproject.toml
  src/xhydro/__init__.py
  src/xhydro/cc.py
  src/xhydro/frequency_analysis/__init__.py
  src/xhydro/frequency_analysis/local.py
  src/xhydro/gis.py
  src/xhydro/indicators.py
  src/xhydro/modelling/__init__.py
  src/xhydro/modelling/_hm.py
  src/xhydro/modelling/_hydrotel.py
  src/xhydro/modelling/_ravenpy_models.py
  src/xhydro/modelling/_simplemodels.py
  src/xhydro/modelling/calibration.py
  src/xhydro/modelling/data/hydrotel_defaults/output.csv
  src/xhydro/modelling/data/hydrotel_defaults/project.csv
  src/xhydro/modelling/data/hydrotel_defaults/simulation.csv
  src/xhydro/modelling/hydrological_modelling.py
  src/xhydro/modelling/obj_funcs.py
  src/xhydro/optimal_interpolation/ECF_climate_correction.py
  src/xhydro/optimal_interpolation/__init__.py
  src/xhydro/optimal_interpolation/compare_result.py
  src/xhydro/optimal_interpolation/optimal_interpolation_fun.py
  src/xhydro/optimal_interpolation/utilities.py
  src/xhydro/testing/__init__.py
  src/xhydro/testing/data/hydrotel_structure.yml
  src/xhydro/testing/helpers.py
  src/xhydro/testing/registry.txt
  src/xhydro/testing/utils.py
  src/xhydro/utils.py
  tests/test_testing_utils.py
  tests/test_xhydro.py
  tox.ini
Labels: documentation, enhancement, approved, dependencies, CI
