Repository hydrologie/xhydro, pull requests merged in 2025-03, with the labels that each got.

#267 Run less tests on Notebooks
  .github/workflows/main.yml
  CHANGELOG.rst
  Makefile
Labels: approved, CI

#233 removes _fix_dates
  AUTHORS.rst
  CHANGELOG.rst
  src/xhydro/modelling/_hydrotel.py
  tests/test_hydrotel.py
Labels: approved, docs

#281 Temporary pin on xarray
  docs/notebooks/gis.ipynb
  environment-dev.yml
  environment.yml
  pyproject.toml
Labels: approved, notebooks, docs

#280 fix bug in rebuild_time when standard calendar is used
  src/xhydro/indicators/pmp.py
Labels: approved

#278 Improvements to the hydrological modelling and optimal interpolation notebooks
  docs/notebooks/hydrological_modelling.ipynb
  docs/notebooks/hydrological_modelling_hydrotel.ipynb
  docs/notebooks/hydrological_modelling_raven.ipynb
  docs/notebooks/index.rst
  docs/notebooks/optimal_interpolation.ipynb
  src/xhydro/modelling/_ravenpy_models.py
  src/xhydro/modelling/hydrological_modelling.py
  src/xhydro/optimal_interpolation/__init__.py
  src/xhydro/optimal_interpolation/optimal_interpolation_fun.py
  tests/test_hydrological_modelling.py
Labels: approved, notebooks, docs

#275 Improvements to the GIS and frequency analysis notebooks
  docs/notebooks/gis.ipynb
  docs/notebooks/hydrological_modelling.ipynb
  docs/notebooks/hydrological_modelling_hydrotel.ipynb
  docs/notebooks/hydrological_modelling_raven.ipynb
  docs/notebooks/index.rst
  docs/notebooks/local_frequency_analysis.ipynb
  docs/notebooks/optimal_interpolation.ipynb
  docs/notebooks/regional_frequency_analysis.ipynb
  pyproject.toml
  src/xhydro/frequency_analysis/regional.py
  src/xhydro/frequency_analysis/uncertainties.py
  src/xhydro/modelling/_ravenpy_models.py
  src/xhydro/modelling/hydrological_modelling.py
  src/xhydro/optimal_interpolation/__init__.py
  src/xhydro/optimal_interpolation/optimal_interpolation_fun.py
  tests/test_hydrological_modelling.py
Labels: notebooks, docs

#276 Improvements to the PMP and Extreme notebooks
  docs/notebooks/extreme_value_analysis.ipynb
  docs/notebooks/pmp.ipynb
  src/xhydro/indicators/pmp.py
Labels: approved, notebooks, docs

#274 Improvements to the base documentation
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.rst
  CONTRIBUTING.rst
  Makefile
  README.rst
  docs/_static/_images/example_draw_marker.png
  docs/_static/_images/test_station_locations_OI.png
  docs/_static/_images/xhydro_structure.png
  docs/index.rst
  docs/installation.rst
  docs/notebooks/extreme_value_analysis.ipynb
  docs/notebooks/gis.ipynb
  docs/notebooks/hydrological_modelling.ipynb
  docs/notebooks/hydrological_modelling_hydrotel.ipynb
  docs/notebooks/hydrological_modelling_raven.ipynb
  docs/notebooks/index.rst
  docs/notebooks/local_frequency_analysis.ipynb
  docs/notebooks/optimal_interpolation.ipynb
  docs/notebooks/pmp.ipynb
  docs/notebooks/regional_frequency_analysis.ipynb
  docs/planification.rst
  docs/releasing.rst
  pyproject.toml
  src/xhydro/frequency_analysis/regional.py
  src/xhydro/frequency_analysis/uncertainties.py
  src/xhydro/indicators/pmp.py
  src/xhydro/modelling/_ravenpy_models.py
  src/xhydro/modelling/_simplemodels.py
  src/xhydro/modelling/hydrological_modelling.py
  src/xhydro/optimal_interpolation/__init__.py
  src/xhydro/optimal_interpolation/optimal_interpolation_fun.py
  tests/test_PMP.py
  tests/test_calibration.py
  tests/test_gis.py
  tests/test_hydrological_modelling.py
  tests/test_regional.py
  tests/test_uncertainties.py
Labels: approved, notebooks, CI, docs

#279 Improvements to the climate change notebooks
  CHANGELOG.rst
  docs/notebooks/climate_change.ipynb
  docs/notebooks/use_case.ipynb
  environment-dev.yml
  environment.yml
  pyproject.toml
  src/xhydro/testing/helpers.py
  src/xhydro/testing/registry.txt
Labels: approved, notebooks, docs
