Repository hydrologie/xhydro, pull requests merged in 2025-04, with the labels that each got.

#290 Revert change to makefile, fix typo
  Makefile
  src/xhydro/extreme_value_analysis/julia_import.py
  tests/test_extremes.py
Labels: approved, CI

#293 Update all translations
  CHANGELOG.rst
  CI/translator.py
  Makefile
  docs/index.rst
  docs/locales/fr/LC_MESSAGES/apidoc/modules.po
  docs/locales/fr/LC_MESSAGES/apidoc/xhydro.frequency_analysis.po
  docs/locales/fr/LC_MESSAGES/apidoc/xhydro.modelling.po
  docs/locales/fr/LC_MESSAGES/apidoc/xhydro.optimal_interpolation.po
  docs/locales/fr/LC_MESSAGES/apidoc/xhydro.po
  docs/locales/fr/LC_MESSAGES/apidoc/xhydro.testing.po
  docs/locales/fr/LC_MESSAGES/authors.po
  docs/locales/fr/LC_MESSAGES/changelog.po
  docs/locales/fr/LC_MESSAGES/contributing.po
  docs/locales/fr/LC_MESSAGES/index.po
  docs/locales/fr/LC_MESSAGES/installation.po
  docs/locales/fr/LC_MESSAGES/notebooks/climate_change.po
  docs/locales/fr/LC_MESSAGES/notebooks/extreme_value_analysis.po
  docs/locales/fr/LC_MESSAGES/notebooks/gis.po
  docs/locales/fr/LC_MESSAGES/notebooks/hydrological_modelling.po
  docs/locales/fr/LC_MESSAGES/notebooks/hydrological_modelling_hydrotel.po
  docs/locales/fr/LC_MESSAGES/notebooks/hydrological_modelling_raven.po
  docs/locales/fr/LC_MESSAGES/notebooks/index.po
  docs/locales/fr/LC_MESSAGES/notebooks/local_frequency_analysis.po
  docs/locales/fr/LC_MESSAGES/notebooks/optimal_interpolation.po
  docs/locales/fr/LC_MESSAGES/notebooks/pmp.po
  docs/locales/fr/LC_MESSAGES/notebooks/regional_frequency_analysis.po
  docs/locales/fr/LC_MESSAGES/notebooks/use_case.po
  docs/locales/fr/LC_MESSAGES/planification.po
  docs/locales/fr/LC_MESSAGES/readme.po
  docs/locales/fr/LC_MESSAGES/releasing.po
  docs/locales/fr/LC_MESSAGES/usage.po
  docs/notebooks/climate_change.ipynb
  docs/notebooks/hydrological_modelling_hydrotel.ipynb
  docs/notebooks/optimal_interpolation.ipynb
  docs/notebooks/pmp.ipynb
  docs/notebooks/use_case.ipynb
  docs/planification.rst
  make-translations.bat
Labels: approved, notebooks, CI, docs

#295 Update project pins and other cleanups
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  Makefile
  docs/installation.rst
  docs/locales/fr/LC_MESSAGES/changelog.po
  docs/locales/fr/LC_MESSAGES/installation.po
  docs/locales/fr/LC_MESSAGES/notebooks/climate_change.po
  docs/locales/fr/LC_MESSAGES/notebooks/hydrological_modelling_hydrotel.po
  docs/locales/fr/LC_MESSAGES/notebooks/hydrological_modelling_raven.po
  docs/locales/fr/LC_MESSAGES/notebooks/local_frequency_analysis.po
  docs/locales/fr/LC_MESSAGES/notebooks/optimal_interpolation.po
  docs/locales/fr/LC_MESSAGES/notebooks/pmp.po
  docs/notebooks/climate_change.ipynb
  docs/notebooks/hydrological_modelling_hydrotel.ipynb
  docs/notebooks/hydrological_modelling_raven.ipynb
  docs/notebooks/local_frequency_analysis.ipynb
  docs/notebooks/optimal_interpolation.ipynb
  docs/notebooks/pmp.ipynb
  docs/notebooks/regional_frequency_analysis.ipynb
  docs/notebooks/use_case.ipynb
  environment-dev.yml
  environment.yml
  pyproject.toml
  src/xhydro/cc.py
  src/xhydro/gis.py
  src/xhydro/indicators/generic.py
  src/xhydro/modelling/_hydrotel.py
  src/xhydro/modelling/_ravenpy_models.py
  src/xhydro/modelling/calibration.py
  src/xhydro/modelling/obj_funcs.py
  src/xhydro/optimal_interpolation/compare_result.py
  src/xhydro/optimal_interpolation/optimal_interpolation_fun.py
  src/xhydro/optimal_interpolation/utilities.py
  tests/test_PMP.py
  tests/test_calibration.py
  tests/test_extremes.py
  tests/test_gis.py
  tests/test_hydrotel.py
  tests/test_indicators.py
  tests/test_local.py
  tests/test_optimal_interpolation.py
  tests/test_ravenpy_models.py
  tox.ini
Labels: approved, notebooks, CI, docs

#296 Prepare 0.5.0
  .cruft.json
  CHANGELOG.rst
  pyproject.toml
  src/xhydro/__init__.py
  tests/test_xhydro.py
Labels: approved

#257 Added configuration to format inputs for Raven HBVEC model
  CHANGELOG.rst
  docs/locales/fr/LC_MESSAGES/changelog.po
  docs/locales/fr/LC_MESSAGES/notebooks/hydrological_modelling_raven.po
  docs/locales/fr/LC_MESSAGES/notebooks/use_case.po
  docs/notebooks/hydrological_modelling_raven.ipynb
  docs/notebooks/use_case.ipynb
  src/xhydro/modelling/hydrological_modelling.py
  tests/test_hydrological_modelling.py
Labels: approved, notebooks, docs
