Repository hydrologie/xhydro, pull requests merged in 2025-07, with the labels that each got.

#326 Fixing error in Criteria computation
  src/xhydro/frequency_analysis/local.py
  tests/test_local.py
Labels: approved

#317 Fix return periods names
  docs/notebooks/local_frequency_analysis.ipynb
  docs/notebooks/regional_frequency_analysis.ipynb
  docs/notebooks/use_case.ipynb
  src/xhydro/frequency_analysis/local.py
  src/xhydro/frequency_analysis/regional.py
  src/xhydro/frequency_analysis/uncertainties.py
  tests/test_hydrotel.py
  tests/test_regional.py
  tests/test_uncertainties.py
Labels: approved, notebooks, docs

#329 Forgot to update changelog in PR #317
  CHANGELOG.rst
Labels: approved

#330 Skip notebook execution during translation
  CHANGELOG.rst
  Makefile
  make-translations.bat
Labels: approved, CI

#333 Update allowed connections
  .github/workflows/cache-cleaner.yml
Labels: approved, CI
