Repository hydrologie/xhydro, pull requests merged in 2025-08, with the labels that each got.

#340 Add a security policy
  CHANGELOG.rst
  SECURITY.md
Labels: documentation, approved

#342 Fix how the Raven executable is stored
  docs/locales/fr/LC_MESSAGES/notebooks/hydrological_modelling_raven.po
  docs/locales/fr/LC_MESSAGES/notebooks/hydrological_modelling_raven_distributed.po
  docs/notebooks/hydrological_modelling_raven.ipynb
  docs/notebooks/hydrological_modelling_raven_distributed.ipynb
  src/xhydro/modelling/_ravenpy_models.py
  tests/test_hydrological_modelling.py
  tests/test_ravenpy_models.py
Labels: approved, notebooks, docs

#343 Write gpkg instead of a shapefile in RavenpyModel
  docs/notebooks/hydrological_modelling_raven_distributed.ipynb
  src/xhydro/modelling/_ravenpy_models.py
  src/xhydro/testing/distributed/registry.txt
  src/xhydro/testing/helpers.py
  src/xhydro/testing/registry.txt
  tests/test_ravenpy_models.py
Labels: approved, notebooks, docs

#331 Update Hydrotel
  CHANGELOG.rst
  docs/locales/fr/LC_MESSAGES/changelog.po
  docs/locales/fr/LC_MESSAGES/notebooks/hydrological_modelling_hydrotel.po
  docs/notebooks/hydrological_modelling_hydrotel.ipynb
  src/xhydro/modelling/_hydrotel.py
  src/xhydro/modelling/hydrological_modelling.py
  src/xhydro/testing/data/SLNO.csv
  src/xhydro/testing/data/output.csv
  src/xhydro/testing/data/simulation.csv
  src/xhydro/testing/utils.py
  tests/test_hydrological_modelling.py
  tests/test_hydrotel.py
Labels: notebooks, docs
