Repository hydrologie/xhydro, pull requests merged in 2025-02, with the labels that each got.

#175 First draft of stationary extreme value analysis module
  .github/workflows/dependency-review.yml
  .github/workflows/main.yml
  .gitignore
  .pre-commit-config.yaml
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  CI/translator.py
  Makefile
  docs/conf.py
  docs/notebooks/extreme_value_analysis.ipynb
  docs/notebooks/hydrological_modelling.ipynb
  docs/notebooks/index.rst
  docs/notebooks/local_frequency_analysis.ipynb
  environment-dev.yml
  environment.yml
  pyproject.toml
  src/xhydro/extreme_value_analysis/__init__.py
  src/xhydro/extreme_value_analysis/julia_import.py
  src/xhydro/extreme_value_analysis/parameterestimation.py
  src/xhydro/extreme_value_analysis/structures/__init__.py
  src/xhydro/extreme_value_analysis/structures/conversions.py
  src/xhydro/extreme_value_analysis/structures/dataitem.py
  src/xhydro/extreme_value_analysis/structures/util.py
  src/xhydro/testing/helpers.py
  src/xhydro/testing/registry.txt
  tests/conftest.py
  tests/test_calibration.py
  tests/test_extremes.py
  tox.ini
Labels: approved, notebooks, CI, docs

#235 added some functionalities for ungaged catchments
  .pre-commit-config.yaml
  CHANGELOG.rst
  src/xhydro/frequency_analysis/uncertainities.py
Labels: approved, CI

#252 Update cookiecutter version
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/label-on-approval.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/workflow-warning.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  .zizmor.yml
  CHANGELOG.rst
  CI/requirements_ci.in
  CI/requirements_ci.txt
  Makefile
  README.rst
  docs/conf.py
  docs/installation.rst
  docs/locales/fr/LC_MESSAGES/notebooks/regional_frequency_analysis.po
  docs/notebooks/extreme_value_analysis.ipynb
  docs/notebooks/gis.ipynb
  docs/notebooks/hydrological_modelling.ipynb
  docs/notebooks/optimal_interpolation.ipynb
  docs/notebooks/regional_frequency_analysis.ipynb
  environment-dev.yml
  pyproject.toml
  src/xhydro/extreme_value_analysis/julia_import.py
  src/xhydro/extreme_value_analysis/structures/util.py
  src/xhydro/frequency_analysis/__init__.py
  src/xhydro/frequency_analysis/uncertainties.py
  src/xhydro/indicators/generic.py
  src/xhydro/indicators/pmp.py
  src/xhydro/modelling/_hydrotel.py
  src/xhydro/modelling/_ravenpy_models.py
  src/xhydro/modelling/calibration.py
  src/xhydro/optimal_interpolation/optimal_interpolation_fun.py
  src/xhydro/testing/utils.py
  tests/test_cc.py
  tests/test_uncertainties.py
  tests/test_xhydro.py
  tox.ini
Labels: approved, notebooks, CI, docs

#251 Add author to the changelog
  CHANGELOG.rst
Labels: approved

#253 fix the titles in the documentation
  docs/notebooks/extreme_value_analysis.ipynb
Labels: approved, notebooks, docs
